<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.hynd.mapper.UserMapper">

  <resultMap id="UserMap" type="User">
    <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String"  />
    <result column="name" property="name" jdbcType="VARCHAR" javaType="java.lang.String"  />
  </resultMap>

  <insert id="insert" parameterType="User">
      INSERT INTO USER(ID, NAME) VALUES(#{id}, #{name})
  </insert>

  <select id="findAll" resultMap="UserMap">
      SELECT ID,NAME FROM USER
  </select>

</mapper>